// sass-lint:disable property-sort-order

// 1. Variables
// 2. Functions
// 3. Mixins
// 4. Spaceholders

// 5. Sélecteurs

.form {
  // Dimensions
  min-width: 30em;
  max-width: 65em;
  width: 65%;
  // Typographie
  font-size: 1.4em;
}

// Espacement

.form-panel,
.form-section {
  margin-bottom: 2em;
}

.form-panel {
  .form-section {
    &:last-child {
      margin-bottom: 0;
    }
  }
}

.form-panel-title {
  // Apparence
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: flex-end;
  padding-bottom: 0.2em;
  border-bottom: medium solid #00c0ef;
}

.form-title {
  // Typographie
  font-size: 2.5em;
  text-transform: uppercase;
}

.form-subtitle {
  // Typographie
  font-size: 1.5em;
}

