// 1. Variables
// 2. Functions
// 3. Mixins

// 4. Spaceholders

%form-field-text {
  // Apparence
  @extend %form-field-column;

  label {
    color: #999;
    font-size: 0.8em;
    margin-bottom: 0.5em;
  }
}

// 5. Sélecteurs

.form-field-text {
  @extend %form-field-text;

  input {
    &[type='date'] {
      width: 10em;
    }

    &[type='text'],
    &[type='email'] {
      min-width: 30em;
    }
  }
}
