// sass-lint:disable property-sort-order

// 1. Variables
// 2. Functions
// 3. Mixins

// 4. Spaceholders
%form-command-button {
  background-color: #00c0ef;
  border: 1px solid transparent;
  border-radius: 0.3em;
  color: #fff;
  cursor: pointer;
  display: block;
  font-size: 2rem;
  line-height: 1em;
  opacity: 0.8;
  padding: 0.5em 1em;
  white-space: nowrap;

  &:hover,
  &:focus {
    opacity: 1;
  }
}

// 5. Sélecteurs
.form-panel-command {
  // Apparence
  display: flex;
  flex-direction: row;
  flex-wrap: nowrap;
  justify-content: space-between;

  button {
    @extend %form-command-button;

    &:last-of-type {
      // Position
      // Aligne le dernier bouton à droite
      margin-left: auto;
    }
  }
}
