// sass-lint:disable property-sort-order

// 1. Variables
// 2. Functions
// 3. Mixins

// 4. Spaceholders

%list-table {
  // Apparence
  display: table;
  border-collapse: collapse;
}

%list-table-cell {
  // Apparence
  display: table-cell;
  // Dimension
  padding: 0.5em 1em;
}

%list-table-row {
  // Apparence
  display: table-row;
  // Decoration
  border-bottom: 1px solid #ccc;
}

// 5. Sélecteurs

.list {
  @extend %list-table;
  // Typographie
  font-size: 1em;

  .percentage {
    text-align: right;
  }
}

.list-header,
.list-content {
  @extend %list-table-row;

  & > div {
    @extend %list-table-cell;
  }
}

.list-header {
  color: #999;
}

.list-content {
  &:hover,
  &:focus {
    cursor: pointer;
  }

  &.active {
    background-color: #aaa;
  }
}

.list-command {
  // Espacement
  margin-top: 1em;
}
