// sass-lint:disable property-sort-order

// 1. Variables
// 2. Functions
// 3. Mixins

// 4. Spaceholders

%simulator-dashboard-sharing-panel {
  display: table-row;

  & > div, {
    display: table-cell;
  }
}

%simulator-spacing {
  margin-bottom: 2em;

  &:last-child {
    margin-bottom: 0;
  }
}

// 5. Sélecteurs

.simulator {
  // Apparence
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  flex-wrap: nowrap;
}

.simulator-command {
  // Dimension
  width: 40%;
  padding: 2em;
  background-color: #0f0;
}

.simulator-dashboard {
  // Dimension
  width: 60%;
  padding: 2em;
  background-color: #f00;
}

.simulator-command-subscription {
  @extend %simulator-spacing;

  // Apparence
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  flex-wrap: nowrap;
  // max-width: 60%;
  // margin-left: auto;
  // margin-right: auto;
}

.simulator-dashboard-global {
  // Apparence
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  flex-wrap: nowrap;
}

.simulator-dashboard-sharing {
  display: table;
  border-collapse: collapse;
}

.simulator-dashboard-sharing-header {
  @extend %simulator-dashboard-sharing-panel;
}

.simulator-dashboard-sharing-content {
  @extend %simulator-dashboard-sharing-panel;
}
