// sass-lint:disable property-sort-order

// 1. Variables
// 2. Functions
// 3. Mixins

// 4. Spaceholders

%simulator-sharing-area {
  display: table-row;
}

%simulator-sharing-block {
  display: table-cell;
  padding: 0.5em 0.8em;
}

%simulator-sharing-caption {
  @extend %simulator-sharing-block;

  font-size: 1.2em;
  color: #aaa;
}

%simulator-sharing-value {
  @extend %simulator-sharing-block;

  font-size: 1.2em;
}

// 5. Sélecteurs

.simulator {
  // Apparence
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  flex-wrap: nowrap;
}

.simulator-command-panel {
  // Dimension
  width: 30%;
}

.simulator-command-panel-title {
  text-align: center;
  font-size: 2em;
  color: $color-alert-info;
  margin-bottom: 1em;
}

.simulator-dashboard {
  // Dimension
  width: 60%;
}

.simulator-subscription {
  // Espacement
  margin-bottom: 2em;

  &:last-child {
    margin-bottom: 0;
  }
}

.simulator-subscription-actionbar {
  // Apparence
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  flex-wrap: nowrap;
  // max-width: 60%;
  // margin-left: auto;
  // margin-right: auto;
}

.simulator-subscription-comment {
  margin-top: 0.8em;
  text-align: center;
  font-size: 0.9em;
  color: #999;
}

.simulator-total {
  // Espacement
  margin-bottom: 3em;
  // Apparence
  display: flex;
  flex-direction: row;
  justify-content: flex-start;
  flex-wrap: nowrap;

  & .block {
    padding: 0 2em;
  }

  & .caption {
    font-size: 1.5em;
    color: #aaa;
    text-transform: uppercase;
    text-align: center;
    margin-bottom: 0.2em;
  }

  & .value {
    font-size: 3em;
    color: $color-alert-info;
    text-align: center;
  }
}

.simulator-sharing {
  display: table;
  border-collapse: collapse;

  & .caption,
  & .caption--percentage,
  & .caption--revenue {
    @extend %simulator-sharing-caption;
  }

  & .value,
  & .value--percentage,
  & .value--revenue {
    @extend %simulator-sharing-value;
  }

  & .caption--percentage,
  & .caption--revenue,
  & .value--percentage,
  & .value--revenue {
    text-align: right;
  }

  & .value--revenue {
    color: $color-alert-info;
  }
}

.simulator-sharing-header {
  @extend %simulator-sharing-area;
}

.simulator-sharing-content {
  @extend %simulator-sharing-area;
}
