// Alert
$color-alert-success: #3c763d;
$color-alert-success-background: #dff0d8;
$color-alert-success-border: #d0e9c6;

$color-alert-info: #31708f;
$color-alert-info-background: #d9edf7;
$color-alert-info-border: #bcdff1;

$color-alert-warning: #8a6d3b;
$color-alert-warning-background: #fcf8e3;
$color-alert-warning-border: #faf2cc;

$color-alert-error: #a94442;
$color-alert-error-background: #f2dede;
$color-alert-error-border: #ebcccc;
