// sass-lint:disable space-before-colon

*,
*::before,
*::after {
  box-sizing: border-box;
}

html {
  // sass-lint:disable-block no-color-literals
  color      : #f00;
  font-family: $font-family-base;
  font-size  : $font-size-base;
}
