// sass-lint:disable space-before-colon

.layout {
  display: grid;
  // grid-template-columns: repeat(12, 1fr);
  grid-row-gap: 4vh;
  grid-template-columns: 1fr;
}

// .header {
//   grid-column-end: 12;
//   grid-column-start: 1;
//   grid-row-end: 1;
//   grid-row-start: 1;
// }

// .content {
//   grid-column-end: 12;
//   grid-column-start: 1;
//   grid-row-end: 2;
//   grid-row-start: 2;
// }
