.layout {
  padding: 2% 10%;
}

.form-title {
  font-size: 3rem;
  margin-bottom: 2rem;
  text-transform: uppercase;
}

.form {
  border-top: medium solid #00c0ef;
  // margin: 0 auto;
  max-width: 65em;
  min-width: 30em;
  padding: 2rem 0;
  width: 65vw;
}

// Gouttière verticale des panneaux de formulaire
.form-panel {
  margin-bottom: 4rem;

  &:last-child {
    margin-bottom: 0;
  }
}

.form-panel-title {
  font-size: 2rem;
  margin-bottom: 1.5rem;
  text-transform: uppercase;
}

// Gouttière verticale des sections de formulaire
.form-section {
  margin-bottom: 4rem;

  &:last-child {
    margin-bottom: 0;
  }

  button {
    background-color: #aaa;
    border: 1px solid transparent;
    border-radius: 0.3em;
    color: #333;
    cursor: pointer;
    font-size: 1.3rem;
    line-height: 1em;
    margin-top: 1em;
    padding: 0.5em 1em;
    white-space: nowrap;

    &:hover,
    &:focus {
      color: #fff;
    }

    &[disabled] {
      cursor: default;
      opacity: 0.5;
    }
  }
}

.form-field {
  display: flex;
  flex-direction: column;

  label {
    color: #999;
    font-size: 1.5rem;
    margin-bottom: 0.5rem;
  }

  input,
  select {
    font-size: 2rem;

  }

  input {
    &[type='date'] {
      width: 10em;
    }
  }

  .unit {
    margin-left: 0.1em;
  }
}

.form-field-checkbox {
  flex-direction: row;
  flex-wrap: nowrap;
  font-size: 1.5rem;
  margin-bottom: 1rem;
  width: 20rem;

  &:last-child {
    margin-bottom: 0;
  }

  input {
    margin-right: 1rem;

    &[type='text'] {
      font-size: 1.5rem;
    }
  }

  label {
    color: #000;
    display: block;
    flex: 1;
    margin-bottom: 0;
  }

  .percentage {
    // font-size: 1.5rem;
    text-align: right;
  }
}

.form-field-checkbox-custom {

  input {
    &[type='checkbox'] {
      margin-top: 0.2em;
    }

    &:last-of-type {
      margin-right: 0;
    }
  }

  .input-label {
    flex: 1;
    // width: 12em;
    width: 100%;
  }

  .input-percentage {
    text-align: right;
    width: 2em;
  }

  .unit {
    margin-top: 0.2em;
  }
}

.form-command-panel {
  align-items: center;
  display: flex;
  flex-direction: row-reverse;
  justify-content: space-between;

  button {
    background-color: #00c0ef;
    border: 1px solid transparent;
    border-radius: 0.3em;
    color: #fff;
    cursor: pointer;
    display: block;
    font-size: 2rem;
    line-height: 1em;
    opacity: 0.8;
    padding: 0.5em 1em;
    white-space: nowrap;

    &:hover,
    &:focus {
      opacity: 1;
    }
  }

  a {
    font-size: 2rem;
    text-decoration: none;

    &:link,
    &:visited,
    &:active {
      color: inherit;
    }

    &:hover {
      color: #00c0ef;
    }
  }
}
